.bg-image {
	height: 100vh;
	background-image: url("../img/featured-image.jpg");
	background-position: center center;
	background-size: cover;
}
.social {
	height: 60px;
	width: 60px;
}
.portrait {
	height: 308px;
	width: 308px;
}
body, .padded-top {
	padding-top: 65px;
}