.bg-image {
	height: 125vh;
	background-image: url("../img/featured-image.jpg");
	background-position: center center;
	background-size: cover;
}
.social {
	height: 60px;
	width: 60px;
}
.portrait {
	height: 308px;
	width: 308px;
}
/*so the fixed navbar doesn't cover up content*/
body, .padded-top {
	padding-top: 65px;
}
.text-white {
    letter-spacing: 0.5pt;
}
